@font-face {
    font-family: valorantFont;
    src: url(Valorant\ Font.ttf);
}
body{
    margin: 0;
    background-image:url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG');
}
h1{
    font-family: valorantFont;
    font-size: 500%;
    text-align: center;
    margin-top: -100px;
}
.stratDisplay{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
    color: white;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:none;
    display: block;
}
.displayContainer{
    height: 60px;
    margin-top: -7em;
}
.agentContainer{
    margin:0 auto;
    margin-top: -4em;
    margin-left: 10em;
    margin-right: 8em;
    margin-bottom: 8em;
}
div{
    padding: 50px;
    font-family: valorantFont;

}
.div1{
    float:right;
    background: red;
    font-size: 150%;
    
}
.div2{
    float: left;
    background: blue;
    font-size: 150%;
}

.divAgent{

    float:left;
    width: 25px;
    height: 25px;
    font-size: 100%;
}
.divAgent img{
    height:125px;
    width: 125px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -50px;
    margin-left: -50px;

}
.siteLink{
    width: 300px;
    float: none;
    margin: auto;
    font-family: valorantFont;
    color: red;
    font-size: 150%;
}
.btn {
    /* Clean style */
    align-items: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .btn::before,
  .btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
  }
  
  .btn::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .btn::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
  }
  
  .btn:active::before,
  .btn:active::after {
    right: 3px;
    left: 3px;
  }
  
  .btn:active::before {
    top: 3px;
  }
  
  .btn:active::after {
    bottom: 3px;
  }
  
  .btn__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .btn__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }
  
  .btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
  }
  
  .btn__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .btn__content {
    position: relative;
  }
  
  .btn:hover {
    color: var(--button-text-color-hover);
  }
  
  .btn:hover .btn__slide {
    width: calc(100% + 15px);
  }
  
  .btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
  }
  
  .btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }