@font-face {
    font-family: valorantFont;
    src: url(Valorant\ Font.ttf);
}
body{
    margin: 0;
    background-image:url('https://pbs.twimg.com/media/EZdgO14WoAINDOG.jpg:large');
}
h1{
    font-family: valorantFont;
    font-size: 500%;
    text-align: center;
    margin-top: -100px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:none;
    display: block;
}
.displayContainer{
    height: 60px;
    margin-top: -7em;
}
.agentContainer{
    margin:0 auto;
    margin-top: -4em;
    margin-left: 10em;
    margin-right: 8em;
    margin-bottom: 8em;
}
div{
    padding: 50px;
    font-family: valorantFont;

}
.div1{
    float:right;
    background: red;
    font-size: 150%;
    
}
.div2{
    float: left;
    background: blue;
    font-size: 150%;
}

.divAgent{

    float:left;
    background-color: green;
    width: 25px;
    height: 25px;
    font-size: 100%;
}
.divAgent img{
    height:125px;
    width: 125px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -50px;
    margin-left: -50px;

}
